@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@400;700&display=swap');


* {


    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-left: 50px;
}

.clock {
    flex: 3;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
}

.relogio {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    margin-right: 100px;
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #bca464;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 10px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 25px;
}




.imgPrincipal {
    flex: 1;
    border-radius: 10px 0 0 10px;
}

.navegador,
footer {
    height: 50px;
    font-size: 30px;
    background-color: #bca464;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 10px;

}


.naveg {
    background-color: #bca464;
    color: black;
    margin: 20px;
}



.naveg:hover {
    background-color: #ffffff;

}



.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #bca464;
    border-radius: 10px;
}

.container2 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.dadosMarlon {
    flex: 2;
    background-color: #bca464;
    font-size: 30px;
    margin-left: 30px;
    width: 600px;
    overflow: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: bold;
}

.textoInicial {

    font-size: 23px;
    text-align: justify;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    margin-right: 20px;
    border-radius: 20px;
}

h3 {
    font-size: 30px;
    margin-left: 50px;
}

.container4 {
    display: flex;
    align-items: center;
    background-color: #bca464;
    border-radius: 10px;
    margin-bottom: 50px;
}

.imagem1,
.imagem2,
.imagem3,
.imagem4,
.imagem5,
.imagem6,
.imagem7,
.imagem8 {
    width: 500px;
    height: 500px;
    margin: 40px 10px 40px 43px;
    border-radius: 20px;
}

.footer {
    background-color: #bca464;
}